# variation of update.html from lab 5 tutorial
# page to update an existing user created project

# TODO: needs HW set fields

{% extends 'home.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ project['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="create">
    <label for="title">Project Name</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or project['title'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] or project['description'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('account.delete', id=project['id']) }}" method="create">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}